@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>

<img src="http://no-mans-sky.com/elk/wp-content/themes/nomanssky/images/logo.gif" alt="No Man's Sky">
<p>&nbsp;</p>
<p>We'll be happy to hear any feedback from you. You can reach us on:</p>

<address>
    Drujba 1<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    +359 (0)894 123456
</address>

<address>
    <strong>Email:</strong>   <a href="thearmenianpriest@gmail.com">thearmenianpriest@gmail.com</a><br />
</address>