@{
    ViewBag.Title = "Events";
}
<h2>@ViewBag.Title:</h2>
<div>We'll announce the related streams and other events. If you plan anything, you can add your custom events from <a href="https://calendar.google.com/calendar/selfsched?sstoken=UUpNTHoyTUc4WGwxfGRlZmF1bHR8MmYxZjI4ZmIwOGEwZWJiNzhhNGUxM2YxMjRlMTY2NDA" target="_blank">this page</a>.</div>
<br />
<iframe src="https://calendar.google.com/calendar/embed?showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=techteam190.info_4j1ga6eg5vd425la2ks6mvfph4%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Europe%2FSofia" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
