@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <article class="post col-md-6">
        <h2 class="title">Post title</h2>
        <div class="about">Posted by <i>Egov</i> on <i>1.1.1111</i></div>
        <div class="body">
            Post body...
        </div>       
    </article>
</section>